*

# Back-End Files
!api
!api/src
!api/src/**/*
!api/package.json
!api/package-lock.json

# Front-End Files
!app
!app/src
!app/src/**/*
!app/eslint.config.json
!app/index.html
!app/package.json
!app/package-lock.json
!app/postcss.config.js
!app/tailwind.config.js

# root files
!.env.sample
!.gitignore
!LICENSE
!README.md
!setup.sh