*

# Back-End Files
!api
!api/src
!api/src/**/*
!api/package.json
!api/package-lock.json

# Front-End Files
!app
!app/src
!app/src/**/*
!app/package.json
!app/package-lock.json

# root files
!.gitignore
!LICENSE
!README.md